
    <div class="container mt-5"  [appShimmer]="isLoading">
        <div class="card shadow-lg">
            <div class="card-body"  [appShimmer]="isLoading">
                <div class="d-flex justify-content-between">
                <h2 class="text-left">Make Wallet Payment</h2>
                <button class="btn-common">My Wallet Balance: ₹ 6,850,001</button>
            </div>

                <p class="text-left ">Pay from the easiest way! Pay via wallet!</p>
                <div class="bg-light p-3  mb-4">
                    <h6 class="text-center text-success-title">FINAL PREMIUM (INCLUDING GST)</h6>
                    <h3 class="text-center text-success">₹ 19,50,001</h3>
                </div>
                <form class="d-flex flex-column gap-4">
                <div class="mb-3 d-flex gap-1 form-check-card"  [appShimmer]="isLoading">
                    <input class="form-check-input" type="checkbox" id="termsCheck">
                    <p class=" displaycontent fs-5" for="termsCheck">
                        This Vehicle meets Emission Standards Prescribed by Rule 115(2) of CMVR 1989. Certificate is All India valid, Six Months for Bharat Stage III or below and one year for Bharat Stage IV vehicles.
                    </p>
                </div>
                     <div class="form-check-card">
       
                    <div class="form-check mb-3">
                       
                       
                            <ol class="form-check-label fs-5 d-flex flex-column gap-2" >
                          <li> I/we agree this <a href="#" class="text-decoration-underline">terms and conditions</a>, I/we hereby agree that I/we have read, understand and agreed to these terms. I/we also agree that while making this cheque payment to the insurance company, I/we have sufficient funds in my/our bank account. </li> 
                          <li>  I/we further understand that if I/we do not have sufficient funds in my/our account then the cheque issued for the payment of the insurance premium will be dishonoured and in that case the insurance company has the rights to cancel the said policy issued to me.</li> 
                        </ol>
                       
                    </div>

                    <div class="form-check mb-4 "  [appShimmer]="isLoading">
                        <input class="form-check-input" type="checkbox" id="privacyCheck">
                        <p class="form-check-label displaycontent fs-5" for="privacyCheck">
                            I agree to <a href="#" class="text-decoration-underline">Privacy Policy</a> and <a href="#" class="text-decoration-underline">T&C</a>
                        </p>
                    </div>

                    <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" id="updatesCheck">
                        <p class="form-check-label displaycontent fs-5" for="updatesCheck">
                            I would like to receive updates on exciting promos, rewards, and the latest info about products and services from the company through phone, email, and other electronic means.
                        </p>
                    </div>
                </div>
                    <div class="d-flex justify-content-end gap-2"  [appShimmer]="isLoading">
                        <button type="button" class=" btn-common">Cancel</button>
                        <button type="submit" class=" btn-common"  (click)="onFormSubmit($event)">Make Payment</button>
                    </div>
                </form>
            </div>
        </div>
        <app-loading [isLoading]="isLoading" [message]="loadingMessage"></app-loading>
    </div>
 