<div class="row select-cont">
  <!-- Left Section: Image -->
  <div class="col-md-4 text-center select-cont-div">
    <div class="carimg">
      <img
        src="/image/Car accesories-amico 1.png"
        alt="Car Illustration"
        class="img-fluid"
        style="width:100%;height:auto;"
      />
    </div>
  </div>

  <!-- Right Section: Text and Cards -->
  <div class="col-md-8" style="padding-left: 30px;">
    <div class="mb-4 text-left">
      <h2 class="fs-2">Let’s get started!</h2>
      <p class="fs-6">Select motor to purchase or renew the insurance policy.</p>
    </div>

    <!-- Cards Section -->
    <div class="row g-4">
      <div
        class="col-md-4 d-flex"
      
        *ngFor="let card of cards"
      >
        <div class="card shadow-sm " (click)="goToNextStep(card.type)">
          <div class="card-body text-left">
            <img [src]="card.icon" [alt]="card.title" />
            <h5>{{ card.title }}</h5>
            <p class="fs-5">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
