/* Parent Container */
.select-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 60px 109px;
}

/* Left Section */
.select-cont-div {
  min-width: 300px;
  max-width: 100%;

}

.carimg {
  border-radius: 12px;
  background-color: #404040;
  padding: 20px;
  text-align: center;
}

/* Right Section */
.col-md-8 {
  flex: 1 1 60%;
  min-width: 300px;
}

.card {
  border: none;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

img {
  width: 26px;
  height: auto;
  margin-bottom: 15px;
}

h5 {
  font-weight: bold;
}

p {
  color: var(--text-black-60, #1D1B2099);
}
