<div class="policy-details card p-5">
    <div class="policy-header">
        <h3><b>Policy Details</b></h3>
        <img src="icons/edit.svg" alt="Edit" class="edit-icon" />
    </div>  
    <p class="list-group-item">
        <span class="premium-description">OD(Own Damage) Premium:</span>
        <span class="premium-amount">
          <img src="icons/rupees.svg" alt="rupees" class="rupee-icon" />
          {{data.odPremium}}
        </span>
      </p>   
      <p class="list-group-item">
        <span class="premium-description">Addon Premium:</span>
        <span class="premium-amount">
          <img src="icons/rupees.svg" alt="rupees" class="rupee-icon" />
          {{data.odPremium}}
        </span>
      </p>  
      <p class="list-group-item">
        <span class="premium-description">Third party premium:</span>
        <span class="premium-amount">
          <img src="icons/rupees.svg" alt="rupees" class="rupee-icon" />
          {{data.odPremium}}
        </span>
      </p>  
      <p class="list-group-item">
        <span class="premium-description">Discount  :</span>
        <span class="premium-amount">
          <img src="icons/rupees.svg" alt="rupees" class="rupee-icon" />
          {{data.odPremium}}
        </span>
      </p>  
      <p class="list-group-item">
        <span class="premium-description">PREMIUM:</span>
        <span class="premium-amount">
          <img src="icons/rupees.svg" alt="rupees" class="rupee-icon" />
          {{data.odPremium}}
        </span>
      </p> 
      <p class="list-group-item">
        <span class="premium-description">GST &#64;18%:</span>
        <span class="premium-amount">
          <img src="icons/rupees.svg" alt="rupees" class="rupee-icon" />
          {{data.odPremium}}
        </span>
      </p> 
  <div class="total-premium mt-3">
    <h4>Total Premium</h4>
    <h2><span><img src="icons/rupees.svg" alt="rupees" class="edit-icon"/></span> {{data.totalPremium}}</h2>
  </div>
</div>
