.policy-details {
    background-color: #f6f9ff;
  
  }
  .policy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h3 {
      margin: 0;
      font-weight: bold;
    }
  
    .edit-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #f6f9ff; 
    padding: 2rem 0 0 0;  
    padding-right: 5px;
  }
  
  .premium-description {
    color: #1D1B2099; 
    flex-grow: 1;  
    text-align: left; 
  }
  
  .premium-amount {
    display: flex; 
    align-items: center;
    color: #000000; 
    text-align: right;
    //margin-right: -4rem;
  }
  
  .rupee-icon {
    width: 12px; 
    margin-right: 0px; 
  }
  .total-premium {
    background-color: #d1e7fd;
    padding: 10px;
    border-radius: 5px;
  }
  .card {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
  }