<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="stepper">
            <div class="steps">
              <div *ngFor="let step of steps; let i = index" class="step">
                <div style="display: flex; flex-direction: row; align-items: center;">
                  <div class="circle" [class.active]="i <= currentStep" [class.completed]="completedSteps[i]">
                    <span *ngIf="completedSteps[i]" class=" badge-success">{{ i + 1 }}</span>
                    <span *ngIf="!completedSteps[i]">{{ i + 1 }}</span>
                  </div>

                  <div *ngIf="i < steps.length - 1" class="pipe" [class.active]="i <= currentStep"  [class.completed]="completedSteps[i]"></div>
                </div>

                <div class="step-name">{{ step.name }}</div>
              </div>
            </div>
          </div>

          <!-- Optional Next Button -->
          <!-- <button class="btn btn-primary mt-4" (click)="submitForm()" [disabled]="currentStep === steps.length - 1">
            Next
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>