
.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}


.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid #C1D5FF;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #6c757d;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.circle.active {
  background-color: #404040;
  border: 4px solid #C1D5FF;
  color: white;
}

.circle.completed {
  background-color: #58CD72; /* Green background */
  border: 4px solid #e3efe6fc; /* Full opacity green border */
  color: white;
}

.back-btn{
display: flex;
gap: 8px;
font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}


.pipe {
  width: 140px;
  height: 4px;
  background: linear-gradient(to right, #C1D5FF 0%, #C1D5FF 100%);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.3s ease;
  margin-left: -4px;
  margin-right: 4px;
}
.pipe.active {
  background: linear-gradient(to right, #404040 0%, #404040 50%, #C1D5FF 50%, #C1D5FF 100%);
}
.pipe.completed {
  background: linear-gradient(to right, #58CD72 0%, #58CD72 100%);

}
.sign{
  margin-right:1rem ;
  font-size: larger;
}
.back-btn{
  margin-right:4rem ;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}
.step-name {
  font-size: 14px;
  color: #6c757d; 
  margin-top: 8px;
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.steps {
  display: flex;
  align-items: center;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: baseline;
}


.container-fluid {
  width:97%;
  padding: 0;;
  background-color: #f8f9fa;
}


.card {
  width: 100%;
  background-color: #f8f9fa;
  border: none !important;
}


button:disabled {
  opacity: 0.5;
}

button {
  width: 100%;
  max-width: 200px;
}


.stepper-container {
  border-bottom: 2px solid #C1D5FF;
  padding-bottom: 10px;
}





  /* Media Query for 375px width */
  @media (max-width: 768px) {
    .stepper {
      padding: 0 10px;  /* Adding padding to prevent content from touching edges */
    }

    .circle {
      width: 30px;  /* Reduce circle size */
      height: 30px;
      font-size: 14px;  /* Smaller text in circle */
    }
    .back-btn{
      font-size: 0;
      padding: 0;
      margin: 0;
    }
    .back-btn img{
      margin-right: 0;
    }
    .pipe {
      width: 100px;  /* Smaller pipe between steps */
      margin-right: 0;
      margin-top: 3px; 
    }

    .step-name {
     display: none; /* Center the step names */
    }

    .col-12.col-md-8 {
      padding: 0 10px;  /* Add padding to container */
    }

    .card-body {
      padding: 10px;  /* Add some padding inside the card */
    }
  }
  @media (max-width: 1024px){
    .back-btn{
      font-size: 0;
      padding: 0;
      margin: 0;
    }
  }

  @media (max-width: 550px) {
    .pipe {
      width: 20px;  /* Smaller pipe between steps */
      margin-right: 0;
      margin-top: 3px; 
    }
    .back-btn{
      font-size: 0;
      padding: 0;
      margin: 0;
    }
    .back-btn img{
      margin-right: 0;
    }
  }