<div class="container mt-4">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="row">
      <div *ngFor="let field of schema" class="col-12 col-md-6 mb-3">
        <ng-container [ngSwitch]="field.type">
          <!-- Text input -->
          <app-dynamic-input
            *ngSwitchCase="'text'"
            [field]="field"
            [form]="form">
          </app-dynamic-input>

          <!-- Select input -->
          <app-dynamic-select
            *ngSwitchCase="'select'"
            [field]="field"
            [form]="form">
          </app-dynamic-select>

          <!-- Radio input -->
          <app-dynamic-radio
            *ngSwitchCase="'radio'"
            [field]="field"
            [form]="form">
          </app-dynamic-radio>
        </ng-container>
      </div>
    </div>

    <!-- Submit Button -->
    <button 
      type="submit" 
      [disabled]="form.invalid" 
      class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
