<div class="container">
    <div class="card-content">
        <h1>Get Quick & Hassel Free Insurance!</h1>
        <p>Welcome to One stop Solution for all insurance need. Buy travel insurance with<br/> exclusive coverage.</p>
    </div>
    <div class="card-img">
        <p class="title">OUR PRODUCT & SERVICES</p>
        <div class="cards">
        <div class="card"><img src="image/motor.png" alt="motor" (click)="motor()" /></div>
        <div class="card">  <img src="image/health.png" alt="motor"/></div>
        <div class="card"> <img src="image/term_life.png" alt="motor"/></div>
    </div>
    </div>
    <div class="card-contact">
       <div class="contact">
        <img src="icons/phone-outline.svg" alt="phone"/><p> Contact Us
        </p>  </div>
        <img src="icons/contact_line.svg" alt="line"/>
        <div class="message">
            <img src="icons/email-outline.svg" alt="phone"/><p> Write Us</p></div>   
    </div>
    <div class="card-banner">
        <img src="image/banner_img.png" alt="banner_img" />
        <div class="text-container">
            <div class="badge-container">
            <div class="badge"><span>Travel Insurance</span>
            </div> 
            <div class="terms-conditions">
                <p>T&C applied</p>
            </div>
        </div>
            <h2>
                Over <span class="Highlight">40 plans</span> with exclusive discount
                as low as <span class="Highlight">50% off!</span>
            </h2>
            <h6>
                Insure Smart, Save Big! Unleash unbeatable protection with our exclusive
                insurance sale. Lock in savings and fortify your future with tailored
                coverage. Act fast to seize this limited-time opportunity. Your peace of
                mind is just a click away. Don't miss out – secure your tomorrow at a
                fraction of the cost!
            </h6>
            <button class="apply-btn">Apply Now  <img src="icons/arrow-right.svg" alt="phone"/></button>
        </div>
    </div>
    <!-- Forum Div -->
    <div class="card-forum">
        <div class="forum-question">
            <h6>
                Why do you need insurance?
            </h6>
            <p>
                It is a long established fact that a reader will be distracted by the readable content
                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
                making it look like readable English.
            </p>
        </div>
        <div class="forum-answer">
            <div class="card-answer">
               <img src="icons/header.svg" alt="header"/>
                <h6>Header</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempororem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor.</p>
            </div>
            <div class="card-answer">
                <img src="icons/header.svg" alt="header"/>
                <h6>Header</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempororem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor.</p>
            </div>
            <div class="card-answer">
                <img src="icons/header.svg" alt="header"/>
                <h6>Header</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempororem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor.</p>
            </div>
            <div class="card-answer">
                <img src="icons/header.svg" alt="header"/>
                <h6>Header</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempororem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor.</p>
            </div>
            <div class="card-answer">
                <img src="icons/header.svg" alt="header"/>
                <h6>Header</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempororem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor.</p>
            </div>
            <div class="card-answer">
                <img src="icons/header.svg" alt="header"/>
                <h6>Header</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempororem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor.</p>
            </div>
        </div>
    </div>
    <!-- Article Div -->
     <div class="card-article">
        <span class="article_title">Latest Articles</span>
        <span class="article_content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
             as opposed to using 'Content here, content here', making it look like readable English.</span>
        <div class="article-card">
            <div *ngFor="let article of articles" class="art-card">
            <img [src]="article.image" alt="image1"/>
                <div class="card-headline">
                    <p>{{article.title}}</p>
                    <img src="icons/share.svg" alt="share"/>
                    <img src="icons/menu.svg" alt="menu"/>
                </div>
                <div class="card-article-content">
                    <p>{{article.description}}<a href="{{article.link}}">Read more..</a>
                    </p>
                </div>
            </div>
          
        </div>
        <div class="card-button">
            <button type="button">View more articles</button>
        </div>
     </div>
     <!-- FAQs -->
      <div class="faq-container">
        <h2>FAQs</h2>
        <p>Discover answer to common insurance questions.</p>
        <div *ngFor="let faq of faqs; let i = index" class="faq-item">
            <div class="faq-question" (click)="toggleFAQ(i)">
                <h3> Question 0{{i+1}} </h3>
                <img [src]="faq.isOpen ? 'icons/minus.svg' : 'icons/plus.svg'"
                alt="toggle icon"
                class="toggle-icon"/>
            </div>
            <div class="faq-answer" *ngIf="faq.isOpen">
                {{faq.answer}}
            </div>
        </div>
      </div>
      <div class="explore-container">
        <div class="left-section">
            <h2>Explore Our Top Articles!</h2>
            <p>
              It is a long established fact that a reader will be distracted by the
              readable content of a page when looking at its layout. The point of using
              Lorem Ipsum is that it has a more-or-less normal distribution of letters,
              as opposed to using 'Content here, content here', making it look like
              readable English.
            </p>
            <a href="#" class="view-more-link">View more articles →</a>
          </div>
          <div class="right-section">
            <h3>Read top articles</h3>
            <div class="articles-grid">
              <div *ngFor="let article of articles.slice(0,3)" class="explore-card">
                <img [src]="article.image" alt="Article 1" class="explore-image" />
                <div class="explore-content">
                <div class="explore-content-head">
                  <h4>{{article.title}}</h4>
                  <img src="icons/share.svg" alt="share"/>
                    <img src="icons/menu.svg" alt="menu"/>
                </div>
                  <p>
                   {{article.description}} <a href="{{article.link}}">Read more...</a>
                  </p>
                </div>
              </div>
             
               
            </div>
          </div>
        </div>
        <!-- Email Section -->
        <div class="email-section">
            <div class="email-content">
              <h2>Would you like to be part of the change?</h2>
              <p>Contact us to get the whole idea!</p>
            </div>
            <div class="email-input-wrapper">
              <input type="email" placeholder="Enter email id" class="email-input" />
              <button class="email-button">
                <img src="icons/mail.svg" alt="Send Email" />
              </button>
            </div>
          </div>
</div>
