<div class="container">
    <div class="card-content">
        <h1>Get Quick & Hassel Free Insurance!</h1>
        <p>Welcome to One stop Solution for all insurance need. Buy travel insurance with<br/> exclusive coverage.</p>
    </div>
    <div class="card-img">
        <p class="title">OUR PRODUCT & SERVICES</p>
        <div class="cards">
        <div class="card"><img src="image/motor.png" alt="motor"/></div>
        <div class="card">  <img src="image/health.png" alt="motor"/></div>
        <div class="card"> <img src="image/term_life.png" alt="motor"/></div>
    </div>
    </div>
    <div class="card-contact">
       <div class="contact">
        <fa-icon [icon]="'phone'"></fa-icon><p> Contact Us
        </p>  </div>
        <div class="message">
        <fa-icon [icon]="'envelope'"></fa-icon> <p> Write Us</p></div>   
    </div>
    <div class="card-banner">
        <img src="image/banner_img.png" alt="banner_img" />
        <div class="text-container">
            <div class="badge">Travel Insurance
                <p> T&C Applied</p>
            </div> 
           
            <h2>
                Over <span class="Highlight">40 plans</span> with exclusive discount
                as low as <span class="Highlight">50% off!</span>
            </h2>
            <h6>
                Insure Smart, Save Big! Unleash unbeatable protection with our exclusive
                insurance sale. Lock in savings and fortify your future with tailored
                coverage. Act fast to seize this limited-time opportunity. Your peace of
                mind is just a click away. Don't miss out – secure your tomorrow at a
                fraction of the cost!
            </h6>
            <button class="apply-btn">Apply Now   <fa-icon [icon]="'arrow-right'"></fa-icon></button>
        </div>
    </div>
    
</div>
