.container{
    display: flex;
    flex-direction: column;

}
.container h1{
    text-align:center;
    color: black;
}
.container p{
    text-align:center;
    color: #2a292ccc;
    font-size: 18px;
}
.card-img .title {
    font-size: 14px;
    margin: 20px 0;
    color: #686565;
    font-weight: bold;

    text-align: center;
  }
.cards{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 3rem;
    
}
.card{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 180px;
    border: none;

}