<div class="container">
    <div class="card-content">
        <h1>Get Quick & Hassel Free Insurance!</h1>
        <p>Welcome to One stop Solution for all insurance need. Buy travel insurance with<br/> exclusive coverage.</p>
    </div>
    <div class="card-img">
        <p class="title">OUR PRODUCT & SERVICES</p>
        <div class="cards">
        <div class="card"><img src="image/motor.png" alt="motor"/></div>
        <div class="card">  <img src="image/health.png" alt="motor"/></div>
        <div class="card"> <img src="image/term_life.png" alt="motor"/></div>
    </div>
    </div>
</div>
