<app-searchbar></app-searchbar>

<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-6">
            <div class="card policy-card" [ngClass]="{'selected': selectedPolicy === 'new'}" id="new-policy" (click)="onRadioSelect('new')">
                <div class="card-body d-flex align-items-center">
                    <div class="form-check mr-3 radio-wrapper">
                        <input class="form-check-input large-radio" type="radio" name="policyType" id="newRadio" value="new" (click)="onRadioSelect('new')">
                    </div>
                    <div>
                        <label class="form-check-label" for="newRadio">
                           <h5><b>New</b></h5>
                        </label>
                        <p>Fresh start for your motor insurance policy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card policy-card" [ngClass]="{'selected': selectedPolicy === 'renew'}" id="renew-policy" (click)="onRadioSelect('renew')">
                <div class="card-body d-flex align-items-center">
                    <div class="form-check mr-3 radio-wrapper">
                        <input class="form-check-input large-radio" type="radio" name="policyType" id="renewRadio" value="renew" (click)="onRadioSelect('renew')">
                    </div>
                    <div>
                        <label class="form-check-label" for="renewRadio">
                            <h5><b>Renew</b></h5>
                        </label>
                        <p>Seamless renewal of your existing policy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
