<app-searchbar></app-searchbar>
<!-- first div -->
<div>
  <div class="headline">
    <h3><b>Select policy type and plan.</b></h3>
    <p>Fresh start or seamless renewal? Your motor insurance choice today?</p>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card policy-card" [ngClass]="{'selected': selectedPolicy === 'new'}" id="new-policy" (click)="onRadioSelect('new')">
          <div class="card-body d-flex align-items-center">
            <div class="form-check mr-3 radio-wrapper">
              <input class="form-check-input large-radio" type="radio"  name="policyType" id="newRadio" value="new" (click)="onRadioSelect('new')" checked>
            </div>
            <div>
              <label class="form-check-label" for="newRadio" >
                <h5><b>New</b></h5>
              </label>
              <p>Select ‘New’ if you want to purchase insurance.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card policy-card" [ngClass]="{'selected': selectedPolicy === 'Renew'}" id="renew-policy" (click)="onRadioSelect('Renew')">
          <div class="card-body d-flex align-items-center">
            <div class="form-check mr-3 radio-wrapper">
              <input class="form-check-input large-radio" type="radio" name="policyType" id="renewRadio" value="renew" (click)="onRadioSelect('Renew')">
            </div>
            <div>
              <label class="form-check-label" for="renewRadio">
                <h5><b>Renew</b></h5>
              </label>
              <p>Select ‘Renew’ if you want to renew your previous policy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- second div for 'New' (default) -->
<div *ngIf="selectedPolicy === 'new' ">
  <p class="headline">Select exclusive <strong>new plans</strong> as per your requirement.</p>
  <div class="container mt-5 new-section">
    <div class="row">
      <div class="col-md-6">
        <div class="card info-card" id="new-info1" >
          <div class="card-body d-flex h-25 mb-3 align-items-center" >
            <div>
              <h5><b>Bundled</b></h5>
              <p>5 Year OD (Own Damage).</p>
              <p>5 Year TP (Third Party Damage).</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card info-card" id="new-info2">
          <div class="card-body d-flex h-25 mb-3 align-items-center">
            <div>
              <h5><b>Comprehensive</b></h5>
              <p>1 Year OD (Own Damage).</p>
              <p>3 Year TP (Third Party Damage).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- second div for 'Renew' -->
<div *ngIf="selectedPolicy === 'Renew'  ">
    <p class="headline">Select exclusive <strong>renewal plans</strong> as per your requirement.</p>
    <div class="container mt-5  renewal-section">
      <div class="row">
        <div class="col">
          <div class="card info-card" id="renewal-info1">
            <div class="card-body d-flex h-25 mb-3 align-items-center">
              <div>
                <h5><b>Comprehensive</b></h5>
                <p>1 Year OD (Own Damage).</p>
                <p>1 Year TP (Third Party Damage).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card info-card" id="renewal-info2">
            <div class="card-body h-25 mb-3 align-items-center">
              <div>
                <h5><b>Standalone</b></h5>
                <p>1 Year OD (Own Damage).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card info-card" id="renewal-info3">
            <div class="card-body d-flex h-25 mb-3 align-items-center">
              <div>
                <h5><b>Third Party</b></h5>
                <p>1 Year TP (Third Party Damage).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

<!-- Third Div -->
<div>
  <div class="headline">
    <h3><b>Select policy holder type.</b></h3>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card policy-card" [ngClass]="{'selected': selectedPolicy === 'Individual'}" id="individual-policy" (click)="onRadioSelect('Individual')">
          <div class="card-body d-flex align-items-center">
            <div class="form-check mr-3 radio-wrapper">
              <input class="form-check-input large-radio" type="radio" name="policyType" id="individualRadio" value="Individual" (click)="onRadioSelect('Individual')">
            </div>
            <div>
              <label class="form-check-label" for="individualRadio">
                <h5><b>Individual</b></h5>
              </label>
              <p>Select ‘Individual’ if you want to purchase insurance policy for yourself.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card policy-card" [ngClass]="{'selected': selectedPolicy === 'Corporate'}" id="corporate-policy" (click)="onRadioSelect('Corporate')">
          <div class="card-body d-flex align-items-center">
            <div class="form-check mr-3 radio-wrapper">
              <input class="form-check-input large-radio" type="radio" name="policyType" id="corporateRadio" value="Corporate">
            </div>
            <div>
              <label class="form-check-label" for="corporateRadio">
                <h5><b>Corporate</b></h5>
              </label>
              <p>Select ‘Corporate’ if the organization wants to make an insurance policy purchase.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fourth div -->

<app-dynamic-form
[config]="config"
[formGroup]="formGroup"></app-dynamic-form>

  <!-- Fifth div  for new -->

<div>
    <div class="headline">
        <h3><b>Compulsory Personal Accident (CPA) Cover</b></h3>
        <p>Select CPA term.</p>
    </div>
<div class="container mt-5 ">
        <div class="row">
            <div class="col">
                <div class="card h-card policy-card" [ngClass]="{'selected': selectedPolicy === 'none'}" id="new-policy" (click)="onRadioSelect('none')">
                    <div class="card-body d-flex align-items-center">
                        <div class="form-check mr-3 radio-wrapper">
                            <input class="form-check-input large-radio mt-3" type="radio" name="policyType" id="newRadio" value="none" (click)="onRadioSelect('none')">
                        </div>
                        <div>
                            <label class="form-check-label mb-5" for="noneRadio">
                               <h5 ><b>none</b></h5>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card  h-card policy-card" [ngClass]="{'selected': selectedPolicy === '1 year CPA'}"  id="renew-policy" (click)="onRadioSelect('1 year CPA')">
                    <div class="card-body d-flex align-items-center">
                        <div class="form-check mr-3 radio-wrapper">
                            <input class="form-check-input large-radio mt-3" type="radio" name="policyType" id="renewRadio" value="1 year CPA" >
                        </div>
                        <div>
                            <label class="form-check-label mb-5" for="1yearRadio">
                                <h5><b>1 year CPA</b></h5>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-card policy-card" [ngClass]="{'selected': selectedPolicy === '3 year CPA'}"  id="renew-policy" (click)="onRadioSelect('3 year CPA')">
                    <div class="card-body d-flex align-items-center">
                        <div class="form-check mr-3 radio-wrapper">
                            <input class="form-check-input large-radio mt-3" type="radio" name="policyType" id="renewRadio" value="3 year CPA" >
                        </div>
                        <div>
                            <label class="form-check-label  mb-5" for="3yearRadio">
                                <h5 class="padding"><b>3 year CPA</b></h5>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Fifth div  for Renew -->

 <div>
    <div class="headline">
        <h3><b>Compulsory Personal Accident (CPA) Cover</b></h3>
        <p>Select CPA term.</p>
    </div>
    <div class="container mt-5 ">
        <div class="row">
            <div class="col">
                <div class="card h-card policy-card" [ngClass]="{'selected': selectedPolicy === 'Renew_none'}" id="new-policy" (click)="onRadioSelect('Renew_none')">
                    <div class="card-body d-flex align-items-center">
                        <div class="form-check mr-3 radio-wrapper">
                            <input class="form-check-input large-radio mt-3" type="radio" name="policyType" id="RenewRadio" value="none" (click)="onRadioSelect('Renew_none')">
                        </div>
                        <div>
                            <label class="form-check-label mb-5" for="RenewnoneRadio">
                               <h5 ><b>none</b></h5>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card  h-card policy-card" [ngClass]="{'selected': selectedPolicy === 'Renew 1 year CPA'}"  id="renew-policy" (click)="onRadioSelect('Renew 1 year CPA')">
                    <div class="card-body d-flex align-items-center">
                        <div class="form-check mr-3 radio-wrapper">
                            <input class="form-check-input large-radio mt-3" type="radio"  name="policyType" id="renewRadio" value="1 year CPA" >
                        </div>
                        <div>
                            <label class="form-check-label mb-5" for="Renew1yearRadio">
                                <h5><b>1 year CPA</b></h5>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sixth div for new -->

<div class="sixth ">
    <p >Select reason for opting out CPA</p>
    <h5 >Select reason <span class="red-astrick">*</span></h5>
    <div class="col column">
        <select class="form-select date-card p-card " id="policyType" [ngClass]="{'selected': selectedPolicy === 'dropdown1'}" (click)="onRadioSelect('dropdown1')">
            <option value="3 year CPA">Placeholder</option>  
        </select>
    </div>
</div>

<!-- Sixth div for Renew -->

<div class="sixth_renew">
  <h3><b>Previous Policy Details</b></h3>
  <p>Do you have previous policy?</p>
  <div class="form-check-inline radio-group">
      <label class="form-check-label" for="yesRoadside">
          <input class="form-check-input" type="radio" name="roadsideAssistance" id="yesRoadside" value="yes"> Yes
      </label>
      <label class="form-check-label ml-4" for="noRoadside">
          <input class="form-check-input" type="radio" name="roadsideAssistance" id="noRoadside" value="no"> No
      </label>
  </div>

  <p>Change in ownership last 1 year?</p>
  <div class="form-check-inline radio-group">
      <label class="form-check-label " for="yesRental">
          <input class="form-check-input" type="radio" name="rentalCar" id="yesRental" value="yes" > Yes
      </label>
      <label class="form-check-label ml-4" for="noRental">
          <input class="form-check-input" type="radio" name="rentalCar" id="noRental" value="no"> No
      </label>
  </div>
  <p>Select your previous policy type.</p>
  <div class="container mt-5">
    <div class="row renew">
        <div class="col">
            <div class="card h-card policy-card" [ngClass]="{'selected': selectedPolicy === 'Comprehensive'}" id="Comprehensive" (click)="onRadioSelect('Comprehensive')">
                <div class="card-body d-flex align-items-center">
                    <div>
                        <label class="mb-5 ms-4" for="Comprehensive">
                           <h5><b>Comprehensive</b></h5>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-card policy-card" [ngClass]="{'selected': selectedPolicy === 'Standalone'}" id="Standalone" (click)="onRadioSelect('Standalone')">
                <div class="card-body d-flex align-items-center">
                    <div>
                        <label class="mb-5 ms-4" for="Standalone">
                           <h5><b>Standalone</b></h5>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-card policy-card" [ngClass]="{'selected': selectedPolicy === 'Third Party'}" id="Third Party" (click)="onRadioSelect('Third Party')">
                <div class="card-body d-flex align-items-center">
                    <div>
                        <label class="mb-5 ms-4" for="Third Party">
                           <h5><b>Third Party</b></h5>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>Please enter your previous policy expiry date.</p>
<h5 style="font-size: 12px;">Previous policy expiry date <span class="red-astrick">*</span></h5>
<div class="col" >
  <input type="date" class="w-50 date-card p-4 " [ngClass]="{'selected': selectedPolicy === 'date'}" (click)="onRadioSelect('date')">
</div>
</div>

<!-- In previous policy detail if changing ownership is no -->
<div class="sixth_renew">
  <p>Do you have previous policy?</p>
<div class="form-check-inline radio-group">
    <label class="form-check-label" for="yesRoadside">
        <input class="form-check-input" type="radio" name="roadsideAssistance" id="yesRoadside" value="yes"> Yes
    </label>
    <label class="form-check-label ml-4" for="noRoadside">
        <input class="form-check-input" type="radio" name="roadsideAssistance" id="noRoadside" value="no"> No
    </label>
</div>

<h5 style="font-size: 12px;">NCB<span class="red-astrick">*</span></h5>
<div class="col" >
  <select  class="w-50  date-card p-4" [ngClass]="{'selected': selectedPolicy === 'dropdown2'}" (click)="onRadioSelect('dropdown2')">
    <option>Placeholder</option>
  </select>
</div> 

<p>Previous policy NIL Dep</p>
<div class="form-check-inline radio-group">
    <label class="form-check-label" for="yesRoadside">
        <input class="form-check-input" type="radio" name="roadsideAssistance" id="yesRoadside" value="yes"> Yes
    </label>
    <label class="form-check-label ml-4" for="noRoadside">
        <input class="form-check-input" type="radio" name="roadsideAssistance" id="noRoadside" value="no"> No
    </label>
</div>
</div>

<!-- 2 Wheeler | Renew | Individual | Standalone
Previous policy - Yes 
Change in Ownership - Yes -->
<div class="sixth_renew ">
  <p>Please enter your previous policy expiry date.</p>
<h5 style="font-size: 12px;">OD policy expiry date <span class="red-astrick">*</span></h5>
<div class="col" >
  <input type="date" class="w-50 date-card p-4 mb-3 " [ngClass]="{'selected': selectedPolicy === 'date2'}" (click)="onRadioSelect('date2')">
</div>
<h5 style="font-size: 12px;">TP policy expiry date <span class="red-astrick">*</span></h5>
<div class="col" >
  <input type="date" class="w-50 date-card p-4 " [ngClass]="{'selected': selectedPolicy === 'date2'}" (click)="onRadioSelect('date2')">
</div>
</div>


<!-- Buttons -->

<div class="d-flex justify-content-end mt-5 ">
    <button class="btn btn-light  px-4  cancel-button"><b>Cancel</b></button>
    <button class="btn btn-dark px-4 next-button" (click)="onFormSubmit()"><b>Next</b></button>
</div>