*{
    font-family: "roboto, sans serif";
}
.headline{
    margin-left: 10rem;
}
.policy-card {
    border: 1px solid transparent; 
    border-radius: 10px;
    transition: border-color 0.3s ease;
    margin-bottom: 2rem;
    height: 8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-left: -2rem;
}


.large-radio {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 3.5rem;
}


.radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-right: 1rem; 
}


.form-check-input {
    margin-left: 0;
}


.form-check-label h5 {
    margin-bottom: 0.5rem;
    
}

p{
    color: #1D1B2099;
    
}

.policy-card.selected {
    border-color: blue !important; 
}
.row{
    margin-right: -4rem;
}
.renewal {
    margin-left: 10rem;
}

.renewal-section {
    margin-left: 10rem;
}

.info-card {
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    margin-bottom: 1rem;
    height: 8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: -2rem;
}



.info-card h5 {
    margin: 1rem;
    margin-left: 2rem;
}

.info-card p {
    color: #1D1B2099;
    margin-left: 2rem;
    margin-top: 0.25rem; 
    margin-bottom: 0.5rem; 
}

.row {
    margin-right: -4rem;
}


.h-card{
    height: 6rem;
    margin-right: 15px;
}






