<footer class="footer">
    <div class="footer-content">
        <div class="contact">
            <p>Contact us on</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <!-- Links Section -->
         <div class="footer-links">
            <div>
                <p>Our Services</p>
                <ul>
                    <li><a href=#>Data Security</a></li>
                    <li><a href=#>Website Security</a></li>
                    <li><a href=#>Document Security</a></li>
                    <li><a href=#>Database Security</a></li>
                </ul>
            </div>
            <div>
                <p>Pages</p>
                <ul>
                    <li><a href=#>About Us</a></li>
                    <li><a href=#>Our Team</a></li>
                    <li><a href=#>Pricing</a></li>
                    <li><a href=#>Our Blog</a></li>
                </ul>
            </div>
            <div>
                <p>Links</p>
                <ul>
                    <li><a href=#>Term Of Use</a></li>
                    <li><a href=#>Privacy Policy</a></li>
                
                </ul>
            </div>
         </div>
    </div>
    <div class="footer-bottom">
        <p>copyright XYZ ©2023 all rights reserved</p>
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      </div>
</footer>
