<div class="container mt-4">
    <div class="pt-4 row">

        <div class="col-md-4">

            <app-policy-detail></app-policy-detail>
        </div>
        <div class="col-md-8">
            <fieldset class="mb-4">
                <h4 class="fw-bold">Payment mode</h4>
                <div class="pt-4">
                    <p>Select mode of payment to proceed.</p>
                    <div class="row g-3">

                        <div class="col-md-6">
                            <div class="card p-4 " [class.selected]="selectedOption === 'online'"
                            (click)="selectOption('online')">
                                <div class="d-flex  gap-4 align-items-start">
                                    <div><img src="icons/online.svg" alt="wallet"/></div>

                                    <div>
                                        <h6 class="mt-0 mb-0 fw-bold">Online</h6>
                                        <p class="mb-0 ">
                                            Select 'Online' if you want to pay via generating QR, card,
                                            EMIs or net banking options.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wallet Payment Card -->
                        <div class="col-md-6">
                            <div class="card p-4 min-height-100  "   [class.selected]="selectedOption === 'wallet'"
                            (click)="selectOption('wallet')">
                                <div class="d-flex  gap-4 align-items-start">
                                    <div>  <img src="icons/wallet.svg" alt="wallet"/></div>

                                    <div>
                                        <h6 class="mt-0 mb-0 fw-bold">Wallet</h6>
                                        <p class="mb-0 ">
                                            Select ‘Wallet’ if you want to pay from your wallet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </fieldset>
            <div class="text-end mb-5">
                <button type="button" class="btn btn-secondary me-2">Discard</button>
                <button type="submit" class="btn btn-primary" (click)="onFormSubmit()">Next</button>
            </div>



        </div>
    </div>




</div>