<div class="container mt-4">
    <div class="pt-4 row">
        
            <div class="col-md-4">
           
        <app-policy-detail></app-policy-detail>
            </div>
        <div class="col-md-8">
            <fieldset class="mb-4">
                <h4 class="fw-bold">Payment mode</h4>
                <div class="pt-4">
                    <p>Select mode of payment to proceed.</p>
                    <div class="row g-3">
                       <div class="d-flex row "><div></div>

                       </div>
                    </div>
                </div>
            </fieldset>
        
          
            <!-- Submit Buttons -->
            <div class="text-end mb-5">
                <button type="button" class="btn btn-secondary me-2">Discard</button>
                <button type="submit" class="btn btn-primary" >Next</button>
            </div>

        </div>
    </div>




</div>