/* radio-group.component.scss */
.form-group {
    margin-bottom: 1.5rem;
  
    label {
      font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    }
  
    div {
      display: flex;
      gap: 1rem;
      align-items: center;
  
      input {
        margin-right: 0.5rem;
      }
    }
  }
  .required-asterisk {
    color: red;
    margin-left: 5px;
    font-weight: bold;
  }
 .displaycontent{
  display: contents;
 }