/* radio-group.component.scss */
.form-group {
    margin-bottom: 1.5rem;
  
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 0.5rem;
    }
  
    div {
      display: flex;
      gap: 1rem;
      align-items: center;
  
      input {
        margin-right: 0.5rem;
      }
    }
  }
  .required-asterisk {
    color: red;
    margin-left: 5px;
    font-weight: bold;
  }