html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid, .row, .col-md-6 {
    height: 95vh;
    
}
.row{
    padding-top: 8px;
    
}
.carousel, .carousel-inner, .carousel-item, .carousel-item img {
    height: 100%;
}

.rounded-carousel {
    border-radius: 15px;
    overflow: hidden;
}

.right-side-content {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    height: 100%; 
    
}

.left-side-content {
    background-color: #0066b2;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    height: 100%; 
}

//media queries

@media (max-width: 768px) {
    .carousel-inner, .carousel-item, .carousel-item img {
        height: auto; 
        max-height: 300px; 
    }

    
    .left-side-content, .right-side-content {
        height: auto; 
    }

    .col-md-6 {
        //flex:  100%;
        max-width: 100%;
        margin-bottom: 20px;
    }  
    .container-fluid, .row, .col-md-6{
        height: 34vh;
        
    } 
}

//new
@media (min-width:769px) and  (max-width: 1024px){
    .carousel-inner, .carousel-item, .carousel-item img {
        height: auto; 
        max-height: 700px; 
    }

    
    .left-side-content, .right-side-content {
        height: 40vh; 
    }

    .col-md-6 {
        flex:  100%;
        max-width: 100%;
        margin-bottom: 20px;
       
    }  
    .container-fluid, .row, .col-md-6{
        height: 34vh;
        
    } 
  

}

