.card {
    z-index: 1000;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .input-group-text {
    cursor: pointer;
  }
  
  .input-group input {
    cursor: pointer;
  }
  