<div class="card-container">
    <div class="card-content">
      <div class="card-item">
        <h5>Product</h5>
        <p>Two Wheeler</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Vehicle</h5>
        <p>Honda Activa<br />MH09AP1122<br />Petrol, 1198</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Current Policy</h5>
        <p>Comprehensive</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Policy Holder</h5>
        <p>Individual</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Registered Date</h5>
        <p>25/10/2023</p>
      </div>
      <div class="divider"></div>
      <div class="actions-container">
        <button class="edit-btn">Edit Change</button>
        <div class="navigation">
          <img src="icons/arrow-left.svg" alt="Previous" class="nav-icon" />
          <span>View Previous Edit</span>
          <img src="icons/arrow-right.svg" alt="Next" class="nav-icon" />
        </div>
    </div>
      </div>
    </div>

 <div class="quotation-container">
    <div class="filter-right-container">
        <div class="price-container">
            <h3>Ex Showroom Price</h3>
            <input type="text" placeholder="1195044"/>
        </div>
        <div class="idv-container">
            <div class="header">
                <h3> IDV (Insured Value)</h3>
                <p class="note">NOTE: IDV PRICE BETWEEN 463239 TO 959898</p>
            </div>
            <div class="slider-container">
                <label for="idv-slider" class="slider-label">Lowest IDV: (from {{minValue}})</label>
                <input type="range" id="idv_slider" min="{{minValue}}" max="{{maxValue}}" [(ngModel)]="currentValue" (input)="onSliderChange()" class="slider"/>
            </div>
            <div class="slider-value">
                <span class="min-value"><img src="icons/downarrow.svg"/> Min: {{ minValue }}</span>
                <span class="current-value">₹ {{ currentValue }}</span>
                <span class="max-value"><img src="icons/up.svg"/> Max: {{ maxValue }}</span>
            </div>
        </div>
        <div class="accessories-container">
          <div class="accessories-header" (click)="toggleaccessoryCollapse()">
            <h3>Accessories & Covers</h3>
            <span class="collapse-icon">
              <img src="icons/minus.svg" *ngIf="!isaccessoriesCollapsed" alt="minus"/>
              <img src="icons/plus.svg" *ngIf="isaccessoriesCollapsed" alt="plus"/>
            </span>
          </div>
          <div class="access-list" *ngIf="!isaccessoriesCollapsed">
            <div class="access-list" *ngFor="let accessory of accessories">
              <span class="acess-name">{{accessory.name}}</span>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="accessory.checked">
                <span class="toggle"></span>
              </label>
            </div>

          </div>
        </div>
        <div class="geo-container">
          <div class="geo-header" (click)="toggelgeographyCollapse()">
            <h3>Geographical Extension</h3>
            <span class="collapse-icon">
              <img src="icons/minus.svg" *ngIf="!isgeographicalCollapsed" alt="minus"/>
              <img src="icons/plus.svg" *ngIf="isgeographicalCollapsed" alt="plus"/>
            </span>
          </div>
          <div class="geo-list" *ngIf="!isgeographicalCollapsed">
            <div class="geo-list" *ngFor="let geography of geographical">
              <span class="geo-name">{{geography.country}}</span>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="geography.checked">
                <span class="toggle"></span>
              </label>
            </div>

          </div>
        </div>
        <div class="add-container">
          <div class="add-header" (click)="toggeladdonCollapse()">
            <h3>Individual Add-ons</h3>
            <span class="collapse-icon">
              <img src="icons/minus.svg" *ngIf="!isaddonsCollapsed" alt="minus"/>
              <img src="icons/plus.svg" *ngIf="isaddonsCollapsed" alt="plus"/>
            </span>
          </div>
          <div class="add-list" *ngIf="!isaddonsCollapsed">
            <div class="add-list" *ngFor="let addon of addons">
              <span class="add-name">{{addon.add}}</span>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="addon.checked">
                <span class="toggle"></span>
              </label>
            </div>

          </div>
        </div>
    </div>
    <div class="left-container">
      <div class="left-headline">
        <h3>Select the best suitable plans at exclusive rates.</h3>
      </div>
      <div class="filter-container">
        <p>Showing 3 results for 2 members.</p>    <!--    <button class="btn btn-dark px-4 next-button" (click)="onFormSubmit()"><b>Next</b></button> -->
        <div class="filter-icon" (click)="toggleDropDown()">
          <div class="filter-dropdown" >
            <div class="dropdown-header">
              <img src="icons/filter.svg" alt="filter" class="filter-image" />
              <span> Sort By <b>{{selectedOption}}</b></span>
              <img src="icons/chevron-down.svg" alt="filter_dropdown" 
              class="dropdown" [class.rotate]="isOpen"/>
            </div>
            <ul class="dropdown-menu" *ngIf="isOpen">
              <li (click)="selectOption('Low to High')">Low to High</li>
              <li (click)="selectOption('High to Low')">High to Low</li>
              <li (click)="selectOption('Newest')">Newest</li>
              <li (click)="selectOption('Oldest')">Oldest</li>
        
            </ul> 
          </div>
        </div>
      </div>
      <div class="notification" *ngIf="isVisible">
        <div class="notify-icon">
          <img src="icons/warning.svg" alt="warning-sign"/>
        </div>
        <div class="message">
          <strong>Policy Under Break-in Inspection</strong><br>
          Your renewing policy will go under break-in inspection.

          <img
          src="icons/close.svg"
          alt="close-button"
          class="close"
          (click)="closeNotification()"
        />        </div>
       
      </div>
      <div class="insurance-container">
        <!-- Loop through the insuranceCard array to display each card -->
        <div *ngFor="let card of insuranceCard; let i = index">
          <div *ngIf="i !== 1" class="insurance-card">
            <div class="insurance-header">
              <div class="company-info-wrapper">
                <div class="company-info">
                  <img src="image/quotation_image.png" alt="quotation_image" class="logo" />
                  <div class="company-name">
                    <h4>{{card.companyName}}
                      <span *ngIf="card.recommended" class="badge">
                        Recommended for You
                      </span>
                    </h4>
                    <p>Total Premium : <span class="price">₹ {{card.totalPremium | number}}</span></p>
                  </div>
                </div>
              </div>
              <div class="btns">
                <button class="btn-buy" (click)="onFormSubmit()">Buy Now</button>
                <button class="btn-share">Share</button>
              </div>
            </div>
            
            <div class="plan-headline">
              <span class="details">Plan Details</span>
              <span class="insurance-type">standard <img src="icons/chevron-down.svg" alt="dropdown"/></span>
            </div>
            
            <div class="plan-details">
              <ul>
                <li><img src="icons/idv_cover.svg"/> IDV Covered : <span class="insurance-value">₹ {{card.idvCovered | number}}</span></li>
                <li><img src="icons/claim_settle.svg"/> Claim Settled :<span class="insurance-value">₹ {{card.claimSettled | number}}</span></li>
              </ul>
            </div>
            
            <div class="plan-benefits">
              <span *ngFor="let benfit of card.benefits">{{benfit}}</span>
            </div>
            
            <div class="footer">
              <span class="coverge-details">View Coverage Details <img src="icons/chevron-down.svg"/></span>
            </div>
          </div>
          <div *ngIf="i === 1" class="ad-banner">
            <div class="ad-content">
              <div class="ad-text">
                <h3>Secure Your travel plans Today!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempororem ipsum </p>
                <span>View More <img src="icons/arrow-right.svg"/></span>
              </div>
              <img src="image/ad_image.png" alt="Ad Banner" class="ad-image" />
             
            </div>
          </div>
      
        </div>
      </div>
      
    </div>
 </div>