<div class="card-container">
    <div class="card-content">
      <div class="card-item">
        <h5>Product</h5>
        <p>Two Wheeler</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Vehicle</h5>
        <p>Honda Activa<br />MH09AP1122<br />Petrol, 1198</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Current Policy</h5>
        <p>Comprehensive</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Policy Holder</h5>
        <p>Individual</p>
      </div>
      <div class="divider"></div>
      <div class="card-item">
        <h5>Registered Date</h5>
        <p>25/10/2023</p>
      </div>
      <div class="divider"></div>
      <div class="actions-container">
        <button class="edit-btn">Edit Change</button>
        <div class="navigation">
          <img src="icons/arrow-left.svg" alt="Previous" class="nav-icon" />
          <span>View Previous Edit</span>
          <img src="icons/arrow-right.svg" alt="Next" class="nav-icon" />
        </div>
    </div>
      </div>
    </div>
 